.homepage {
    text-align: center;
    margin-top: 50px;
  }
  
  .homepage h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .homepage a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .homepage a:hover {
    background-color: #0056b3;
  }

  .homepage .buttons{
    display: flex;
    justify-content: center;
    column-gap: 20px;
  }